{% extends 'layout/base.html' %}

{% block contenido %}

<br/>
<center><h1>Listado de Personas</h1></center>
<br/>

<table class="table">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Telefono</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
        {% for p in personas %}
            <tr>
                <td>{{ p.Nombre }}</td>
                <td>{{ p.Apellido }}</td>
                <td>{{ p.Telefono }}</td>
                <td>{{ p.Email }}</td>
            </tr>
    	{% endfor %}
    </tbody>
  </table>
</table>

{% endblock %}